/*g-*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");
body {
  padding: 0;
  margin: 0 auto;
  height: 200vh;
  overflow-x: hidden; }

main {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 2em; }

ul {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px; }
  ul ul {
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px; }

a {
  text-decoration: none;
  transition: color 0.3s ease-out; }
  a:hover {
    color: orange; }
  a:visited {
    color: black; }

.--iscenter {
  align-self: center;
  justify-self: center;
  text-align: center; }

ion-icon[name=bookmark]:hover {
  color: white; }

body {
  padding: 0;
  margin: 0 auto;
  height: 200vh;
  overflow-x: hidden; }

main {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 2em; }

ul {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px; }
  ul ul {
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px; }

a {
  text-decoration: none;
  transition: color 0.3s ease-out; }
  a:hover {
    color: orange; }
  a:visited {
    color: black; }

.--iscenter {
  align-self: center;
  justify-self: center;
  text-align: center; }

ion-icon[name=bookmark]:hover {
  color: white; }

/*o-*/
.o-bouncein {
  border: 0.2rem solid rgba(255, 255, 255, 0.7);
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  padding: 20px;
  margin: 0 auto;
  border-radius: 3.5px;
  transform: rotate(45deg) translateY(0px);
  justify-self: center;
  width: 4px;
  height: 4px;
  animation-name: bouncein;
  animation-duration: 0.7s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-iteration-count: infinite; }

@keyframes bouncein {
  to {
    transform: rotate(45deg) translatey(25px) translateX(25px); } }
.o-category {
  text-decoration: none;
  background-color: orange;
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(238, 238, 238, 0.8);
  color: #444;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px; }
  .o-category:hover {
    background-color: #e69500; }
  .o-category::first-letter {
    text-transform: uppercase; }
  .o-category .s2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 14px; }
  .o-category:hover {
    color: white;
    background-color: orange; }
  .o-category .has-hover:hover {
    color: orange; }

/*c-*/
/*l-*/
nav .c-menu-desktop__link, nav .c-menu-desktop__link--active {
  display: inline-flex;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: white;
  text-decoration: none;
  margin-top: 0;
  padding: 3vh 1.25em 3vh 1.25em;
  justify-content: center;
  background-color: transparent;
  position: relative;
  text-transform: uppercase;
  transition: background-color 0.35s; }
  nav .has-dropdown.c-menu-desktop__link::before, nav .has-dropdown.c-menu-desktop__link--active::before {
    content: '';
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin-top: 2px;
    bottom: auto;
    right: 4%;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top: 4px solid #ffffff; }
  nav .c-menu-desktop__link:hover, nav .c-menu-desktop__link--active:hover {
    background-color: orange; }
    nav .c-menu-desktop__link:hover.has-dropdown::before, nav .c-menu-desktop__link--active:hover.has-dropdown::before {
      transform: translateY(-70%);
      top: 46%;
      border: 4px solid transparent;
      border-bottom: 4px solid #ffffff; }

nav {
  display: flex;
  width: 100%;
  height: 58px;
  background-color: #1F2024;
  justify-content: center;
  position: fixed;
  z-index: 99;
  top: 0; }
  @media only screen and (max-width: 62.5em) {
    nav {
      justify-content: space-between; } }
  nav img {
    align-self: center;
    margin: 0 1em; }
    @media only screen and (max-width: 62.5em) {
      nav img {
        align-self: center;
        margin: 0 1em;
        height: 50px;
        width: 50px;
        max-height: 50px; } }
  nav .c-menu-desktop {
    display: flex;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 62.5em) {
      nav .c-menu-desktop {
        display: none; } }
    nav .c-menu-desktop__item:hover .c-menu-desktop__dropdown-item a {
      display: block; }
    nav .c-menu-desktop__link--active {
      background-color: orange;
      padding-top: 3vh;
      padding-bottom: 4.5vh; }
      nav .c-menu-desktop__link--active::after {
        position: absolute;
        top: 6vh;
        content: "";
        justify-self: center;
        width: 30%;
        height: 0;
        border-bottom: 2px solid #1F2024; }
    nav .c-menu-desktop__dropdown {
      background-color: #1F2024;
      position: absolute;
      list-style: none;
      list-style-type: none;
      display: block;
      padding: 0;
      border-top: 2px solid orange;
      margin-top: -1px; }
      nav .c-menu-desktop__dropdown-item {
        list-style: none;
        list-style-image: none; }
      nav .c-menu-desktop__dropdown-link {
        font-family: sans-serif;
        font-weight: 300;
        font-size: 14px;
        text-decoration: none;
        display: none;
        font-family: sans-serif;
        color: white;
        padding: 0.8em 3em 0.8em 0.8em;
        transition: color 0.25s;
        text-transform: capitalize; }
        nav .c-menu-desktop__dropdown-link:hover {
          color: orange;
          background-color: transparent; }
      nav .c-menu-desktop__dropdown:last-child a {
        padding-bottom: 1em; }
  nav .c-menu-mobile-sharp {
    display: none; }
    @media only screen and (max-width: 62.5em) {
      nav .c-menu-mobile-sharp {
        display: flex;
        align-self: center;
        padding: 0 0.5em 0 0; } }
  nav .c-menu-mobile {
    display: none; }
    @media only screen and (max-width: 62.5em) {
      nav .c-menu-mobile {
        display: block;
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        margin-top: -120%;
        top: 5vh;
        transition: all 0.35s ease-out;
        z-index: -1;
        /*=========================================================*/
        /*                                                         */
        /* The dropdown menu is not avaliable on the first release */
        /*                                                         */
        /*=========================================================*/
                /*&__dropdown{
                    display:inline-block;
                    position: relative;
                    &-item{
                        display: block;
                        position: absolute;
                        justify-content: center;
                        width: 100%;
                    }
                    &-link{
                        color: white;
                        position: relative;
                        background-color: rgba($color: red, $alpha: 0.5);
                        
                    }
                }

                /*.has-dropdown::after{
                    @extend %has-dropdown;
                }
                .has-dropdown--centerY::after{
                    @extend %has-dropdown;
                    left:20%;
                    top: 0%;
                }*/ }
        nav .c-menu-mobile__item {
          display: flex;
          position: relative;
          width: 100%;
          margin-top: -2px;
          justify-content: center; }
        nav .c-menu-mobile__link {
          background-color: #1F2024;
          width: 100%;
          padding-left: 35vw;
          padding-right: 35vw;
          padding-top: 1vh;
          padding-bottom: 1vh;
          color: orange;
          text-align: center;
          position: relative;
          font-family: sans-serif;
          font-weight: 300;
          font-size: 20px;
          text-decoration: none; }
          nav .c-menu-mobile__link:last-child {
            padding-bottom: 2vh;
            padding-top: 1vh; }
        nav .c-menu-mobile__dropdown {
          display: none; } }

.l-article-hero {
  margin-top: 58px;
  height: calc(100vh - 58px);
  width: 100%;
  background-image: url("../img/img.jpeg");
  background-position: center center;
  background-size: cover; }
  .l-article-hero__shadow {
    height: 100%;
    width: 100%;
    background-color: rgba(49, 49, 49, 0.7); }
  .l-article-hero__text {
    width: 50%;
    margin: 0 auto;
    padding: 2em 5em; }
  .l-article-hero__title {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 68px;
    color: white;
    margin-bottom: 2rem;
    line-height: 1em; }
    .l-article-hero__title .l25 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      font-size: 68px; }
  .l-article-hero__article-info {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 2rem; }
    .l-article-hero__article-info span {
      font-family: 'Nunito', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: white; }
      .l-article-hero__article-info span .s1 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 16px; }
  .l-article-hero__sub {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    line-height: 1.7em;
    margin-bottom: 2em; }

/*# sourceMappingURL=article.css.map */
