body {
  padding: 0;
  margin: 0 auto;
  height: 200vh;
  overflow-x: hidden; }

ul {
  list-style: none;
  list-style-type: none;
  list-style-image: none; }
  ul ul {
    list-style: none;
    list-style-type: none;
    list-style-image: none; }

nav .c-menu__link, nav .c-menu__link--active {
  display: inline-flex;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: white;
  text-decoration: none;
  margin-top: 0;
  padding: 3vh 1.25em 3vh 1.25em;
  justify-content: center;
  background-color: transparent;
  position: relative;
  text-transform: uppercase;
  transition: background-color 0.35s; }
  nav .has-dropdown.c-menu__link::before, nav .has-dropdown.c-menu__link--active::before {
    content: '';
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin-top: 2px;
    bottom: auto;
    right: 4%;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top: 4px solid #ffffff; }
  nav .c-menu__link:hover, nav .c-menu__link--active:hover {
    background-color: orange; }
    nav .c-menu__link:hover.has-dropdown::before, nav .c-menu__link--active:hover.has-dropdown::before {
      transform: translateY(-70%);
      top: 46%;
      border: 4px solid transparent;
      border-bottom: 4px solid #ffffff; }

nav {
  display: flex;
  width: 100%;
  height: 8vh;
  background-color: #1F2024;
  justify-content: center;
  position: fixed;
  top: 0; }
  nav img {
    align-self: center;
    margin: 0 2em; }
  nav .c-menu {
    display: flex;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0; }
    nav .c-menu__item:hover .c-menu__dropdown-item a {
      display: block; }
    nav .c-menu__link--active {
      background-color: orange;
      padding-top: 3vh;
      padding-bottom: 4vh; }
      nav .c-menu__link--active::after {
        position: absolute;
        top: 6vh;
        content: "";
        justify-self: center;
        width: 30%;
        height: 0;
        border-bottom: 2px solid #1F2024; }
    nav .c-menu__dropdown {
      background-color: #1F2024;
      position: absolute;
      list-style: none;
      list-style-type: none;
      display: block;
      padding: 0;
      border-top: 2px solid orange;
      margin-top: -1px; }
      nav .c-menu__dropdown-item {
        list-style: none;
        list-style-image: none; }
      nav .c-menu__dropdown-link {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        font-size: 14px;
        text-decoration: none;
        display: none;
        font-family: sans-serif;
        color: white;
        padding: 0.8em 3em 0.8em 0.8em;
        transition: color 0.25s;
        text-transform: capitalize; }
        nav .c-menu__dropdown-link:hover {
          color: orange;
          background-color: transparent; }
      nav .c-menu__dropdown:last-child a {
        padding-bottom: 1em; }

.l-hero {
  position: relative;
  top: 8vh;
  background-color: salmon;
  z-index: -1;
  display: flex;
  justify-content: center; }
  .l-hero-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin: 0; }
    .l-hero-container .c-board {
      position: absolute;
      top: 0;
      width: 75%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 30vh);
      grid-gap: 1px; }
      .l-hero-container .c-board__item {
        background-color: green;
        font-size: 2em;
        text-align: center;
        line-height: 30vh; }
    .l-hero-container:nth-child(1) {
      z-index: 5; }
    .l-hero-container:nth-child(2) {
      z-index: 0; }
    .l-hero-container:nth-child(3) {
      z-index: -5; }

/*# sourceMappingURL=index.css.map */
