body {
  padding: 0;
  margin: 0 auto;
  height: 200vh;
  overflow-x: hidden; }

ul {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px; }
  ul ul {
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px; }

a {
  text-decoration: none;
  transition: color 0.3s ease-out; }
  a:hover {
    color: orange; }

body {
  padding: 0;
  margin: 0 auto;
  height: 200vh;
  overflow-x: hidden; }

ul {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px; }
  ul ul {
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px; }

a {
  text-decoration: none;
  transition: color 0.3s ease-out; }
  a:hover {
    color: orange; }

nav .c-menu-desktop__link, nav .c-menu-desktop__link--active {
  display: inline-flex;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: white;
  text-decoration: none;
  margin-top: 0;
  padding: 3vh 1.25em 3vh 1.25em;
  justify-content: center;
  background-color: transparent;
  position: relative;
  text-transform: uppercase;
  transition: background-color 0.35s; }
  nav .has-dropdown.c-menu-desktop__link::before, nav .has-dropdown.c-menu-desktop__link--active::before {
    content: '';
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin-top: 2px;
    bottom: auto;
    right: 4%;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top: 4px solid #ffffff; }
  nav .c-menu-desktop__link:hover, nav .c-menu-desktop__link--active:hover {
    background-color: orange; }
    nav .c-menu-desktop__link:hover.has-dropdown::before, nav .c-menu-desktop__link--active:hover.has-dropdown::before {
      transform: translateY(-70%);
      top: 46%;
      border: 4px solid transparent;
      border-bottom: 4px solid #ffffff; }

nav {
  display: flex;
  width: 100%;
  height: 58px;
  background-color: #1F2024;
  justify-content: center;
  position: fixed;
  z-index: 99;
  top: 0; }
  @media only screen and (max-width: 62.5em) {
    nav {
      justify-content: space-between; } }
  nav img {
    align-self: center;
    margin: 0 1em; }
    @media only screen and (max-width: 62.5em) {
      nav img {
        align-self: center;
        margin: 0 1em;
        height: 50px;
        width: 50px;
        max-height: 50px; } }
  nav .c-menu-desktop {
    display: flex;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 62.5em) {
      nav .c-menu-desktop {
        display: none; } }
    nav .c-menu-desktop__item:hover .c-menu-desktop__dropdown-item a {
      display: block; }
    nav .c-menu-desktop__link--active {
      background-color: orange;
      padding-top: 3vh;
      padding-bottom: 4.5vh; }
      nav .c-menu-desktop__link--active::after {
        position: absolute;
        top: 6vh;
        content: "";
        justify-self: center;
        width: 30%;
        height: 0;
        border-bottom: 2px solid #1F2024; }
    nav .c-menu-desktop__dropdown {
      background-color: #1F2024;
      position: absolute;
      list-style: none;
      list-style-type: none;
      display: block;
      padding: 0;
      border-top: 2px solid orange;
      margin-top: -1px; }
      nav .c-menu-desktop__dropdown-item {
        list-style: none;
        list-style-image: none; }
      nav .c-menu-desktop__dropdown-link {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        font-size: 14px;
        text-decoration: none;
        display: none;
        font-family: sans-serif;
        color: white;
        padding: 0.8em 3em 0.8em 0.8em;
        transition: color 0.25s;
        text-transform: capitalize; }
        nav .c-menu-desktop__dropdown-link:hover {
          color: orange;
          background-color: transparent; }
      nav .c-menu-desktop__dropdown:last-child a {
        padding-bottom: 1em; }
  nav .c-menu-mobile-sharp {
    display: none; }
    @media only screen and (max-width: 62.5em) {
      nav .c-menu-mobile-sharp {
        display: flex;
        align-self: center;
        padding: 0 0.5em 0 0; } }
  nav .c-menu-mobile {
    display: none; }
    @media only screen and (max-width: 62.5em) {
      nav .c-menu-mobile {
        display: block;
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        margin-top: -120%;
        top: 5vh;
        transition: all 0.35s ease-out;
        z-index: -1;
        /*=========================================================*/
        /*                                                         */
        /* The dropdown menu is not avaliable on the first release */
        /*                                                         */
        /*=========================================================*/
                /*&__dropdown{
                    display:inline-block;
                    position: relative;
                    &-item{
                        display: block;
                        position: absolute;
                        justify-content: center;
                        width: 100%;
                    }
                    &-link{
                        color: white;
                        position: relative;
                        background-color: rgba($color: red, $alpha: 0.5);
                        
                    }
                }

                /*.has-dropdown::after{
                    @extend %has-dropdown;
                }
                .has-dropdown--centerY::after{
                    @extend %has-dropdown;
                    left:20%;
                    top: 0%;
                }*/ }
        nav .c-menu-mobile__item {
          display: flex;
          position: relative;
          width: 100%;
          margin-top: -2px;
          justify-content: center; }
        nav .c-menu-mobile__link {
          background-color: #1F2024;
          width: 100%;
          padding-left: 35vw;
          padding-right: 35vw;
          padding-top: 1vh;
          padding-bottom: 1vh;
          color: orange;
          text-align: center;
          position: relative;
          font-family: 'Ubuntu', sans-serif;
          font-weight: 300;
          font-size: 20px;
          text-decoration: none; }
          nav .c-menu-mobile__link:last-child {
            padding-bottom: 2vh;
            padding-top: 1vh; }
        nav .c-menu-mobile__dropdown {
          display: none; } }

.c-img-roll {
  margin-top: 35em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 68%;
  max-width: 1172px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 62.5em) {
    .c-img-roll {
      margin-top: 20.5em;
      min-width: 400px; } }
  .c-img-roll .c-img-roll__btn--previous, .c-img-roll .c-img-roll__btn--next {
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    background-color: grey; }
  @media only screen and (max-width: 32em) {
    .c-img-roll__btn--previous {
      margin: -0.25em; } }
  .c-img-roll__list {
    display: flex;
    justify-content: space-evenly;
    width: 20%; }
    .c-img-roll__list li {
      border-size: 1px;
      border-style: solid;
      border-color: #5e5353;
      border-radius: 500px;
      cursor: pointer;
      padding: 5px; }

.o-text-box {
  margin-top: -64px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 150%;
  justify-content: flex-end;
  transition: margin 0.3s ease-out;
  padding: 0.5rem; }
  @media only screen and (max-width: 62.5em) {
    .o-text-box {
      margin-top: 0;
      height: 90%; } }
  .o-text-box__title {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: whitesmoke; }
    @media only screen and (max-width: 62.5em) {
      .o-text-box__title {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        font-size: 12px; } }
  .o-text-box__text {
    margin-top: 2rem;
    visibility: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: whitesmoke;
    transition: margin 0.3s ease-out; }
    @media only screen and (max-width: 62.5em) {
      .o-text-box__text {
        display: none; } }

.l-hero {
  position: static;
  margin-top: 64px;
  background-color: salmon;
  z-index: -1;
  display: flex;
  justify-content: center; }
  .l-hero-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 98%;
    max-width: 1172px;
    min-width: 400px;
    margin: 0; }
    @media only screen and (max-width: 62.5em) {
      .l-hero-container {
        width: 95%;
        min-width: 400px; } }
    .l-hero-container .c-board {
      position: absolute;
      top: 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, minmax(15em, 17em));
      grid-gap: 3px;
      /*&__title{
          @include fontSans(20px);
          color: white;
          margin-bottom: -5px;
          //text-align: center;
      }
      &__text{
          @include fontSans(14px);
          color: white;
      }*/ }
      @media only screen and (max-width: 62.5em) {
        .l-hero-container .c-board {
          grid-template-rows: repeat(2, 10em); } }
      .l-hero-container .c-board__item {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
      @media only screen and (min-width: 62.51em) {
        .l-hero-container .c-board .c-board__item:hover .o-text-box {
          margin-top: -140px;
          background-color: rgba(49, 34, 0, 0.5); }
          .l-hero-container .c-board .c-board__item:hover .o-text-box__text {
            margin-top: 0.5rem;
            visibility: visible; } }
    .l-hero-container:nth-child(1) .c-board__item {
      background-color: green; }
      .l-hero-container:nth-child(1) .c-board__item:first-child {
        background-image: url("../img/img.jpeg");
        background-size: cover;
        background-position: center; }
    .l-hero-container:nth-child(2) .c-board__item {
      background-color: orange; }
    .l-hero-container:nth-child(3) .c-board__item {
      background-color: red; }

.c-article__bg {
  background-image: url("../img/img.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 27vh;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
.c-article__title-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px; }
  .c-article__title-link .l2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 22px; }
  .c-article__title-link:visited {
    color: black; }
  .c-article__title-link:hover {
    color: orange; }
.c-article__text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 1rem; }
  .c-article__text .s2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px; }

.o-flag {
  text-decoration: none;
  background-color: orange;
  color: white;
  padding: 2px;
  border-radius: 3px;
  font-weight: 300;
  font-size: 12px; }
  .o-flag .s3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 12px; }
  .o-flag:hover {
    background-color: #e69500; }
  .o-flag::first-letter {
    text-transform: uppercase; }

.o-btn {
  text-decoration: none;
  background-color: orange;
  color: white;
  padding: 0.55rem;
  border-radius: 2px;
  font-weight: 300;
  font-size: 16px; }
  .o-btn .s1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px; }
  .o-btn:hover {
    background-color: #e69500; }
  .o-btn::first-letter {
    text-transform: uppercase; }
  .o-btn:hover {
    color: white; }

.l-wrap {
  padding-top: 2rem;
  width: 98%;
  max-width: 1172px;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 10fr 4fr;
  grid-column-gap: 0.5rem; }
  @media only screen and (max-width: 62.5em) {
    .l-wrap {
      grid-template-columns: 1fr;
      grid-column-gap: 0rem;
      width: 95%; } }

.l-article__title-h3 {
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  width: 100%;
  padding-bottom: 0.25rem; }
  .l-article__title-h3 h3 {
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 11px;
    text-transform: capitalize;
    color: orange; }
    .l-article__title-h3 h3:after {
      content: ' ';
      padding-bottom: 1px;
      position: relative;
      top: 0.99rem;
      width: 7rem;
      display: flex;
      flex-direction: column;
      background-color: orange; }
    .l-article__title-h3 h3:before {
      content: ' ';
      position: relative;
      top: 3rem;
      display: flex;
      width: 0;
      flex-direction: column;
      border: 0.2rem solid orange;
      border-right-color: transparent;
      border-bottom-color: transparent; }
.l-article__section {
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 35px;
  row-gap: 25px; }
  @media only screen and (max-width: 41.875em) {
    .l-article__section {
      grid-template-columns: 1fr; } }
  .l-article__section-articles {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem; }

.l-aside {
  padding-top: 1.5rem; }

/*# sourceMappingURL=index.css.map */
