body{
    padding:0;
    margin: 0 auto;
    height: 200vh;
    overflow-x: hidden;
}
ul{
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    ul{
        list-style: none;
        list-style-type: none;
        list-style-image: none;
    }
}