.l-about{
    //display: flex;
    padding-bottom: 3rem;
    &__title{
        @include fontSans(l10,1,800);
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
        
    }
    /*&__window{
        
    }*/
    &__flow{
        display: grid;
        grid-template-columns: repeat(auto-fit, 24em) ;
        justify-content: center;
        justify-items: center;
        grid-gap:2rem;
        //flex-direction: row;
        justify-content: space-evenly;
        /*@media only screen and (max-width:62.5em){
            flex-direction: column;
            justify-content: flex-start;
            //align-content: center; 
            margin: 0 auto;          
        }*/
    }
}