.l-article-hero{
    margin-top: 58px;
    height: calc(100vh - 58px);
    width: 100%;
    background:{
        image: url('../img/img.jpeg');
        position: center center;
        size: cover;
        //attachment: fixed;
        
    }
       
    &__shadow{
        height: 100%;
        width: 100%;
        background-color: rgba($color: rgb(49, 49, 49), $alpha: 0.7);
        //padding: 5rem;
    }
    &__text{
        width: 50%;
        margin:0 auto;
        padding: 1em 5em;
        @media only screen and (max-width:41.875em){//670px
            width: 90%;
            padding: 1em 0em;
        }
        
    }
    &__title{
        @include fontSans(l25,1,500);
        @media only screen and (max-width:41.875em){//670px
            @include fontSans(l12,1,500);
        }
        color: white;
        margin-bottom: 2rem;
        line-height: 1em;
    }
    &__article-info{
        display: flex;
        justify-content: space-around;
        width: 50%;
        @media only screen and (max-width:41.875em){//670px
            width: 100%;
        }
        div{
            @include fontSans(s2,1,400);
            color: white;
        }
        margin-bottom: 2rem;
    }
    &__sub{
        @include fontSans(18px, 1,400);
        @media only screen and (max-width:41.875em){//670px
            @include fontSans(s1,1,500);
        }
        color:white;
        line-height: 1.7em;
        margin-bottom: 2em;
    }
}