.l-header{
    margin-top: 58px;
    //background-image: url('../img/img.jpeg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    &__wrap{
        margin: 0 auto;
        width: 65%;
        padding:{
            top:0.5rem;
            bottom: 2em;
            left:0;
            right: 0;
        }
        @media only screen and (max-width:41.875em){//670px
            width: 94%;
            padding: {
                top:1em;
                bottom: 2em;
                left:0;
                right: 0;
            }
        }
    }

    &__title{
        @include fontSans (l7,2,800);
        text-transform: uppercase;
        @media only screen and (max-width:41.875em){//670px
            @include fontSans (l2,2,800);
        }
        color: white;
        letter-spacing: -1.5px;
        margin:{
            top:1em;
            bottom: 0.4em;
        }
        &--underline{
            text-decoration-line: underline;
            text-decoration-color: orange;
        }
        &--red{color: red;}
        &--orange{color: orange;}
        &--small{
            @include fontSans (l4,2,800);
            text-transform: uppercase;
            color: white;
            @media only screen and (max-width:41.875em){//670px
                @include fontSans (18px,2,800);
            }
            
        }
    }
    &__list-item{
        @include fontSans (1.5em,1,600);
        @media only screen and (max-width:41.875em){//670px
            @include fontSans (l2,2,800);
        }
        color: white;
        &--orange{
            @include fontSans (1.5em,1,600);
            @media only screen and (max-width:41.875em){//670px
                @include fontSans (l5,2,800);
            }
            color:orange;
        }
    }
}