$bgcolor: #1F2024;
$secondColor: orange;

@mixin nav($bgcolor,$secondColor) {
    %c-menu__link{
        display: inline-flex;
        @include fontSans(13px);
        color: white;
        text-decoration: none;
        margin-top: 0;
        padding: 3.25vh 1.25em 3.25vh 1.25em;
        justify-content: center;
        background-color: transparent ;
        position: relative;
        text-transform: uppercase;
        transition: background-color 0.35s ;                    
        &.has-dropdown::before{//possivel problema -- solução tornar filho direto de .c-menu-desktop
            content: '';
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            margin-top: 2px;                        
            bottom: auto;
            right: 4%;                        
            width: 0;
            height: 0;
            border: 4px solid transparent;
            border-top: 4px solid #ffffff;
        }        
        &:hover{
            background-color: $secondColor;
            &.has-dropdown::before{
                transform: translateY(-70%);
                top: 46%;
                border: 4px solid transparent;
                border-bottom: 4px solid #ffffff;
            }
        }
    }   
    nav{
        display: flex;
        width: 100%;
        height: 58px;
        background-color: $bgcolor;
        justify-content:center;
        position: fixed;
        z-index: 99;
        top:0;
        @media only screen and (max-width:62.5em){
            justify-content: space-between;
        }
        img{
            align-self: center;
            margin: 0 1em; 
            @media only screen and (max-width:62.5em){
                align-self: center;
                margin: 0 1em;
                height: 50px;
                width: 50px;
                max-height: 50px;                
            }           
        }
        .c-menu-desktop{
            display: flex;
            list-style: none;
            position: relative;
            margin: 0;
            padding:0;
            @media only screen and (max-width:62.5em){
                display: none;
            }       
            &__item{       
                &:hover{
                    .c-menu-desktop__dropdown-item{
                        a{
                        display: block;}
                    }
                }           
            }
            &__link{
                @extend %c-menu__link;
                &--active{//problema de verbose
                    @extend %c-menu__link;
                    background-color: $secondColor;
                    padding-top: 3vh;
                    padding-bottom: 4.5vh;
                    &::after{
                        position: absolute;
                        top: 6vh;                            
                        content: "";
                        justify-self: center;
                        width: 30%;
                        height: 0;
                        border-bottom: 2px solid $bgcolor;
                    }
                }                    
            }            
            &__dropdown{
                background-color: $bgcolor;
                position: absolute;
                list-style: none;
                list-style-type: none;
                display: block;
                padding: 0;
                border-top: 2px solid $secondColor;
                margin-top: -1px;                
                &-item{
                    list-style: none;
                    list-style-image:none;                    
                }    
                &-link{
                    @include fontSans(14px);
                    text-decoration: none;
                    display: none;
                    font-family: sans-serif;
                    color: white;
                    padding:0.8em 3em 0.8em 0.8em;
                    transition: color 0.25s;
                    text-transform: capitalize;
                    &:hover{
                        color: $secondColor;
                        background-color: transparent;
                    }                        
                }
                &:last-child a{
                    padding-bottom: 1em;
                }                               
            }           
        }
        .c-menu-mobile-sharp{
            display:none;
            @media only screen and (max-width:62.5em){
                display: flex;
                align-self: center;
                padding: 0 0.5em 0 0;            
            }
        }
        .c-menu-mobile{
            display: none;
            @media only screen and (max-width:62.5em){
                %has-dropdown{
                    content: '';
                    position: relative;
                    transform: translateY(-50%);
                    top: 35%;
                    align-self: center;
                    margin-top: 2px;                        
                    bottom: auto;
                    left:10%;                        
                    width: 0;
                    height: 0;
                    border: 4px solid transparent;
                    border-top: 4px solid #ffffff;
                }
                display: block;
                position: absolute;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                margin-top:-120%;
                top: 7vh;
                transition: all 0.35s ease-out;
                z-index: -1;
                &__item{
                    display: flex;
                    position: relative;
                    width: 100%;
                    margin:{
                        top:-2px;
                    }
                    justify-content: center;
                }
                &__link{
                    background-color: $bgcolor;
                    width: 100%;
                    padding:{
                        left: 35vw;
                        right: 35vw;
                        top: 1vh;
                        bottom: 1vh;
                    }
                    color: $secondColor;
                    text-align: center;
                    position: relative;
                    @include fontSans(20px);
                    text-decoration: none;
                    &:last-child{
                        padding:{
                            bottom: 2vh;
                            top: 1vh;
                        }
                    }
                }
                &__dropdown{display: none;}
                
                /*=========================================================*/
                /*                                                         */
                /* The dropdown menu is not avaliable on the first release */
                /*                                                         */
                /*=========================================================*/

                /*&__dropdown{
                    display:inline-block;
                    position: relative;
                    &-item{
                        display: block;
                        position: absolute;
                        justify-content: center;
                        width: 100%;
                    }
                    &-link{
                        color: white;
                        position: relative;
                        background-color: rgba($color: red, $alpha: 0.5);
                        
                    }
                }

                /*.has-dropdown::after{
                    @extend %has-dropdown;
                }
                .has-dropdown--centerY::after{
                    @extend %has-dropdown;
                    left:20%;
                    top: 0%;
                }*/
            }

        }
    }
        
}
@include nav($bgcolor, $secondColor);