.l-video{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    &__title{
        text-align: center;
        @include fontSans(l9,1,700);
        @media only screen and (max-width:41.875em){
            @include fontSans(l2,1,700);
        }
    }
}