//vars
@import "../_base/normalize";//#007BFF
$boxModelPadding:2% 1% 5% 0%;
//lighten($color: blue, $amount: 20%)
%spacinWrap{
    padding: 0% 12.5% 0% 12.5%;
    clear: both;
}

@mixin btn($fontSize : 18px, $btnColor : $primaryColor, $radius : 5px, $padding: 2% ){
    text-decoration: none;
    background-color: $btnColor;
    color: white;
    padding: $padding;
    border-radius: $radius;
    &:hover{
        background-color: darken($btnColor, 5%);
    }
    &::first-letter{
        text-transform: uppercase;
    }
}

@mixin fontSans($size : 16px,$family: 0, $weight : 300){
   
    @for $i from 1 through 32 {
        $class: l+$i ;
        @if ($size == $class){
            $size: 18px + ($i*2);
            .#{$class}{
                font:{
                    family: 'Ubuntu', sans-serif;
                    weight: $weight;
                    size: $size;
                }
            }
        }
    }

    @for $i from 3 through 1 {
        $class: s+$i ;
        @if ($size == $class){                      
            $size: 18px - ($i*2);            
            .#{$class}{
                font:{
                    family: 'Ubuntu', sans-serif;
                    weight: $weight;
                    size: $size;
                }
            }
        }
    }
    font:{
        @if($family == 0){
            family: sans-serif;
        } @else if($family == 1){
            family: 'Nunito', sans-serif;
        } @else if($family == 2){
            family: 'Roboto', sans-serif;
        } @else if($family == 3){
            family: 'Poppins', sans-serif;
        }
        weight: $weight;
        size: $size;
    }
    
} 

@mixin menuLink($colortext){
    line-height: 0;
    text-decoration: none;
    margin: 0 10px 0 0;
    @include fontSans(15px);
    text-transform: capitalize;
    color: change-color($color : $colortext, $alpha: 0.75);
    &.active{
        color: $colortext;
    }
    &:hover, &:focus{
        color:change-color($color : $colortext, $alpha: 0.9);
    }
}
