$prefix: 'c-' ;
$modulo: 'article' ;


.#{$prefix}#{$modulo}{
    //background-color: red;
    
    &__opacity{
        background-color: rgb(45,45,45);
       
    }
    &__bg{
        //background-image: url('../img/img.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 27vh;
        padding: 0.5rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 1em;        
        
    }
    &__title-link{
        @include fontSans(l4,$family:1, $weight:600);
        line-height: 28px;
        &:visited{
            color: black;
        }
        &:hover{
            color: orange;
        }
    }
    &__text{
        @include fontSans(s2);
        margin-bottom:1rem;
    }
    
}
.o-btn{
    @include btn(s1,$padding:0.55rem, $radius:2px );
    @include fontSans(s2, 1, 400);
    color: white;
    &:hover{
        color:white;
    }
    &:visited{
        color: white;
    }

}