.c-whatscall{
    background-color: #25D366;
    padding:0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    border-radius: 50px;
    top: 90%;
    position: fixed;
    @media only screen and (max-width:41.875em){//670px
        top: 93%;
        right: 3vw;
    }
    right: 1vw;
    &__text{
        color: whitesmoke;
        @include fontSans(s2,2,400);
        margin-left:-0.8rem;
        padding-bottom:2px;
    }
    
}
.o-whatsapp{
    
    padding:0.5rem 1rem;


}